<!-- about section -->
{% include 'base.html' %} 
{% load static %} 

{%block content%}
<div id="about">
    <div class="container my-5 ">
      <div class="row">
        <div class="col-sm-4 pt-2">
          <h1 class=" mb-4 text-center">
          About Us 
          </h1>
          <p class="text-secondary about-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
            repellat iure laboriosam cum voluptatum, nam minima deserunt aut?
            Distinctio voluptatibus dolor quaerat Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
            repellat iure laboriosam cum 
          </p>
        </div>
    
        <div class="col-md-6 text-center">
            <div class="col-md-6 mb-3 about-img">
              <img
                src="{% static 'images/slide.jpg' %}"
                alt="img2" class="about-img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-secondary text-2">
      quo omnis illo sequi at velit,
      odit quod! Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
      repellat iure laboriosam cum voluptatum, nam minima deserunt aut?
      Distinctio voluptatibus dolor quaerat quo omnis illo sequi at velit,
      odit quod! quo omnis illo sequi at velit,
      odit quod! Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
      repellat iure laboriosam cum voluptatum, nam minima deserunt aut?
      Distinctio voluptatibus dolor quaerat quo omnis illo sequi at velit,
      odit quod!
    </p>
  
  </div>

  {%endblock%}