{% include 'base.html' %}
{% include 'navigation.html' %}
{%block content%}
<br>
<br>
<br>
<!-- show record success -->

{% ifequal error "yes" %}
<script>
    alert('invalid');  
</script>
{% endifequal %}

{% ifequal error "no" %}
<script>
    alert('Record Save');
    window.location = "{% url 'view_appointment' %}"
</script>
{% endifequal %}


<div class="container" style="width: 35rem; background-color: #f2f2f2; padding: 40px; margin-left:45rem; margin-top: 2rem;">
    <h2 class="text-center">Add Appointment</h2>
    <form method="POST">
        {% csrf_token %}
       <div class="form-group">
        <label>Doctor Name</label>
        <select name="doctor" class="form-control">
            {% for i in doctor %}
            <option value="{{i.name}}">{{i.name}}</option>
            {% endfor %}
        </select>
       </div>
       
<div class="form-group">
    <label>Patient Name</label>
    <select name="patient" class="form-control">
        {% for i in patient %}
        <option value="{{i.name}}">{{i.name}}</option>
        {% endfor %}
    </select>
</div>


<div class="form-group">
    <label>Date</label>
    <input type="date" class="form-control" name="date" placeholder="Date">
</div>

<div class="form-group">
    <label>Time</label>
    <input type="time" class="form-control" name="time" placeholder="Time">
</div>


        <input type="submit" value="Submit" class="form-control btn btn-primary" style="width:6rem; margin-left: 13rem; margin-top: 20px;">
    </form>
</div>

{%endblock%}
{% include 'footer.html' %}
