{% include 'base.html' %}
{% include 'navigation.html' %}
{%block content%}

<!-- show record success -->

{% ifequal error "yes" %}
<script>
    alert('invalid');  
</script>
{% endifequal %}

{% ifequal error "no" %}
<script>
    alert('Record Save');
    window.location = "{% url 'view_patient' %}"
</script>
{% endifequal %}


<div class="container"  style="width: 35rem; background-color: #f2f2f2; padding: 40px; margin-left:45rem; margin-top: 6rem;">
    
    <h2 class="text-center">Add Patient</h2>
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Patient Name">

        </div>
<div class="form-group">
    <input type="text" class="form-control" name="mobile" placeholder="Mobile">

</div>

<div class="form-group">
    <input type="text" class="form-control" name="address" placeholder="Address">

</div>

        <input type="submit" value="Add" class="form-control btn btn-primary" style="width:6rem; margin-left: 13rem; margin-top: 20px;">
    </form>
</div>

{%endblock%}
{% include 'footer.html' %}