{% include 'base.html' %}
{% include 'navigation.html' %}
{%block content%}
<br>
<br>
<br>
<!-- show alert if login success -->

{% ifequal error "yes" %}
<script>
    alert('invalid');
    
</script>
{% endifequal %}
{% ifequal error "no" %}
<script>
    alert('Login successfully');
    window.location = "{% url 'dashboard' %}"
</script>
{% endifequal %}


<div class="container py-3"  style="width: 25rem; background-color: #f2f2f2; padding: 40px; margin-left:50rem; margin-top: 5rem;">
    <h2 class="text-center"> Login</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group py-2 ">
            <input type="text" class="form-control" name="uname" placeholder="Admin Name">
        </div>
       
<div class="form-group">
    <input type="password" class="form-control" name="pwd" placeholder="Password">
</div>
       

        <input type="submit" value="Login" class="form-control btn btn-primary" style="width:6rem; margin-left: 100px; margin-top: 20px;">
    </form>
</div>

{%endblock%}

