{% include 'base.html' %}
{% include 'navigation.html' %}
{%block content%}
<br>
<br>
<br>
<!-- show alert if login success -->

{% ifequal error "no" %}
<script>
    window.location="{% url 'home' %}";
</script>
{% endifequal %}

<!-- show if login didnt success -->
{% ifequal error "yes" %}
<script>
    alert('invalid');
    window.location="{% url 'home' %}";
</script>
{% endifequal %}


<div class="container">
    <h2 class="text-center"> Login</h2>
    <form method="POST">
        {% csrf_token %}
        <br>
        <br>
        <input type="text" class="form-control" name="uname" placeholder="Admin Name">
<br>
        <input type="password" class="form-control" name="pwd" placeholder="Password">
<br>
        <input type="submit" value="Login" class="form-control btn btn-primary">
    </form>
</div>

{%endblock%}

