{% include 'base.html' %}
{% include 'navigation.html' %}

<div>
    <h2>View Patient</h2>
    <table class="table table-info">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for i in pat %}
            <tr>
               <td> {{i.id}}</td>
               <td> {{i.name}}</td>
               <td> {{i.mobile}}</td>
               <td> {{i.address}}</td>
               <td><a href="{% url 'delete_patient' i.id %}" 
                onclick="return confirm('Are you sure you want to delete?')"class="btn btn-danger">Delete</a></td>   
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>