{% include 'base.html' %}
{% include 'navigation.html' %}
{%block content%}

<div style="width: 100rem; margin-left: 10rem; margin-top: 50px">
  
    <h2 class="text-center py-0 mb-4">View Patient</h2>
    <br>
    <table id="example" class="table table-info">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i in pat %}
            <tr>
               <td> {{i.id}}</td>
               <td> {{i.name}}</td>
               <td> {{i.mobile}}</td>
               <td> {{i.address}}</td>
               <td><a href="{% url 'delete_patient' i.id %}" 
                onclick="return confirm('Are you sure you want to delete?')"class="btn btn-danger">Delete</a></td>   
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{%endblock%}
{% include 'footer.html' %}